STRIPE_KEY=sk_test_51TO7sdKz1LmVw5SDBSDBS8VisS0bd2CuXzw2bvZf009S3ZjkfK
PUBLIC_KEY_STRIPE=pk_test_51TO7sdKz1LmVSDSDS6oBDB69354XCQ4vWNRA00DCjsds4S

SECRET_KEY_DJANGO=django-insecure-rn)lw)i-Sdsdsddsdzg380_yb=*x)*m!
DEBUG=True

POSTGRES_DB=stripy
POSTGRES_USER=stripe_user
POSTGRES_PASSWORD=stripe_password
DB_HOST=db
DB_PORT=5432